<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task-14</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <h1 class="text-center">Heats 'Em Say</h1>

    <div class="gap-y-12 cols-3 flex justify-evenly">

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5 justify-evenly">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/componet img/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-10 left-96 h-[50px] w-[50px] rounded-full bg-gray-200">
                <img src="/componet img/All_images/svg-icon/tw.svg" class="h-10 w-10 mx-auto mt-1">
            </div>

            <h2>Risitto Nero</h2>
            
            <p class="decoration-gray-200 mt-2">Google</p>

            <div class="decoration-gray-400 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/componet img/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-10 right-[650px] h-[50px] w-[50px] rounded-full bg-gray-200">
                <img src="/componet img/All_images/svg-icon/tw.svg" class="h-10 w-10 mx-auto mt-1">
            </div>

            <h2>Goku san</h2>
            
            <p class="decoration-gray-200 mt-2">Yendex</p>

            <div class="decoration-gray-400 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/componet img/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-10 right-44 h-[50px] w-[50px] rounded-full bg-gray-200">
                <img src="/componet img/All_images/svg-icon/tw.svg" class="h-10 w-10 mx-auto mt-1">
            </div>

            <h2>Keiji Akira</h2>
            
            <p class="decoration-gray-200 mt-2">Nike</p>

            <div class="decoration-gray-400 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

        

    </div>

    <div class="gap-y-12 columns-3 flex justify-evenly">

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/componet img/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-[370px] left-96 h-[50px] w-[50px] rounded-full bg-gray-200">
                <img src="/componet img/All_images/svg-icon/tw.svg" class="h-10 w-10 mx-auto mt-1">
            </div>

            <h2>Leone Abachio</h2>
            
            <p class="decoration-gray-200 mt-2">Amazon</p>


<div class="decoration-gray-400 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div><div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/componet img/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-[370px] right-[650px] h-[50px] w-[50px] rounded-full bg-gray-200">
                <img src="/componet img/All_images/svg-icon/tw.svg" class="h-10 w-10 mx-auto mt-1">
            </div>

            <h2>Kilua Mori</h2>
            
            <p class="decoration-gray-200  mt-2">Dropbox</p>

            <div class="decoration-gray-400 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div><div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/componet img/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-[370px] right-44 h-[50px] w-[50px] rounded-full bg-gray-200">
                <img src="/componet img/All_images/svg-icon/tw.svg" class="h-10 w-10 mx-auto mt-1">
            </div>

            <h2>Romeo Dezeus</h2>
            
            <p class="decoration-gray-200 mt-2">Vimeo</p>

            <div class="decoration-gray-400 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

    </div>


    <div class="text-center mt-1">
        <button class="h-8 w-28 outline text-purple-700 rounded-md">Discover more</button>
    </div>
    
</body>
</html>