$color-1:red;
$color-2:orange;
$color-3:green;
$color-4:magenta;
$color-5:pink;
$color-6:hotpink;
$color-7:yellow;
$color-8:black;
$color-9:white;
$color-10:blue;
$color-11:lightgreen;
$color-12:lightblue;