$color-1:red;
$color-2:rgb(255, 234, 0);
$color-3:rgb(98, 255, 0);
$color-4:rgba(134, 234, 187, 0.635);
$color-5:rgb(0, 89, 255);
$color-6:rgb(255, 200, 0);
$color-7:rgb(255, 0, 255);
$color-8:rgb(166, 62, 211);
$color-9:rgb(0, 229, 255);
$color-10:rgba(0, 255, 47, 0.265);
$color-11:rgb(231, 126, 229);