<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>task-1</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    
    <h4 class="text-center mt-10 font-bold">Get to know us</h4>
    <p class="text-center text-gray-500">There's so many Poorly chosen words in that sentence.</p>

    <div class="grid gap-y-12 grid-cols-4 mt-10 justify-evenly ml-24">

        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-lg">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/componet img/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold mb-2 mt-2">Enrico Pucci</h2>
            <p class="text-center mb-3">Lorem ipsum dolpiente error perspiciatis soluta aperiam non exercitationem quea eaque, quia ducimus commodi!</p>
            <div class="border-2" style="margin-left:-20px; width: 246px;"></div>

            <div class="flex p-3 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/componet img/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>



        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-lg">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/componet img/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold mb-2 mt-2">Enrico Pucci</h2>
            <p class="text-center mb-3">Lorem ipsum dolpiente error perspiciatis soluta aperiam non exercitationem quea eaque, quia ducimus commodi!</p>
            <div class="border-2" style="margin-left:-20px; width: 246px;"></div>

            <div class="flex p-3 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/componet img/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>
        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-lg">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/componet img/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold mb-2 mt-2">Enrico Pucci</h2>
            <p class="text-center mb-3">Lorem ipsum dolpiente error perspiciatis soluta aperiam non exercitationem quea eaque, quia ducimus commodi!</p>
            <div class="border-2" style="margin-left:-20px; width: 246px;"></div>

            <div class="flex p-3 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/componet img/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>

        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-lg">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/componet img/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold mb-2 mt-2">Enrico Pucci</h2>
            <p class="text-center mb-3">Lorem ipsum dolpiente error perspiciatis soluta aperiam non exercitationem quea eaque, quia ducimus commodi!</p>
            <div class="border-2" style="margin-left:-20px; width: 246px;"></div>

            <div class="flex p-3 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/componet img/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/componet img/All_images/svg-icon/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>




</body>
</html>